<h1>Hola a todos desde {{city}} en {{country}}</h1>

<h4>Lista de tareas - usando ngFor</h4>
<ul>
  <li *ngFor="let tareita of tasks">
    {{tareita}}
  </li>
</ul>

<h4>Lista de frutas - usando for </h4>
<ul>
  @for (frutita of fruits; track $index) {
    <li>{{ $index }} - {{ frutita }}</li>
  }
</ul>

<!--Clase 5-->

<img [src]="rutaImg" alt="" style="width: 30%;">

<input type="text" [value]="miNombre">

<button [disabled]="disabledButton">Click on me</button>



<div style="display: flex; flex-direction: column; width: 20%; background-color: rgb(207, 205, 205); justify-content: center; align-items: center; border-radius: 10px; margin-top: 10px;">
  <h2 style="color: black;">Mi equipo preferido</h2>
  <p style="font-weight: 800;">{{englandTeam.name}}</p>
  <img [src]="englandTeam.escudo" alt="" style="width: 15%; border-radius: 50%;">
  <p style="font-weight: 400;">Juego de Local en <span style="color: red; font-weight: 700;">{{englandTeam.estadio}}</span> </p>
</div>

<!--Clase 6-->

