<h1>Hola a todos desde {{city}} en {{country}}</h1>

<h4>Lista de tareas - usando ngFor</h4>
<ul>
  <li *ngFor="let tareita of tasks">
    {{tareita}}
  </li>
</ul>

<h4>Lista de TAREAS - usando for y signals </h4>

<ul>
  @for (tareita of tasks2(); track $index) {

    <li> <span>{{$index+1}}</span>  {{tareita}}</li>
  }
</ul>

<span>N° de tareas:  {{ tasks2().length}}</span>



<h4>Lista de frutas - usando for </h4>

<ul>
  @for (frutita of fruits; track $index) {
    <li>{{ $index +1 }} - {{ frutita }}</li>
  }
</ul>

<!--Clase 5-->

<img [src]="rutaImg" alt="" style="width: 30%;">

<input type="text" [value]="miNombre">

<button [disabled]="disabledButton">Click on me</button>



<div style="display: flex; flex-direction: column; width: 20%; background-color: rgb(207, 205, 205); justify-content: center; align-items: center; border-radius: 10px; margin-top: 10px;">
  <h2 style="color: black;">Mi equipo preferido</h2>
  <p style="font-weight: 800;">{{englandTeam().name}}</p>
  <img [src]="englandTeam().escudo" alt="" style="width: 15%; border-radius: 50%;">
  <p style="font-weight: 400;">Juego de Local en <span style="color: red; font-weight: 700;">{{englandTeam().estadio}}</span> </p>
</div>

<!--Clase 6-->

<button (click)="clickHandler()" class="btn-main">Ingresar</button>
<button (dblclick)="dclickHandler()" class="btn-main">Ingresar</button>

<div class="mini-container">
  <label for="">Ingrese su nombre:</label>
  <input type="text" name="" id="" (change)="changeHandler($event)">
</div>

<!--Clase 7: Eventos "keydown"-->

<div class="mini-container">
  <label for="apellido">Ingrese su Apellido:</label>
  <input type="text" name="" id="apellido" (keydown)="keyDownHandler($event)" >
</div>


<div class="mini-container">
  <label for="correo">Ingrese su correo:</label>
  <input type="text" name="" id="correo" (keydown.enter)="keyEnterDown()" >
</div>

<!--Clase 9: Reactividad en HTML: Implementación de Signals en JavaScript -->

<h1>Implementación de Signals</h1>

<p>Mi nombre es <span>{{ firstName()}}</span> </p>

<div class="mini-container">
  <label for="correo">Ingrese su correo:</label>
  <input type="text" name="" id="correo" [value]="firstName()"
  (change)="actualizarInput($event)">

  <p>Nombre ingresado por la cajita de texto: {{firstName()}}</p>
</div>

<!--Clase 12: Uso de ngIf y ngFor para control de flujos en Angular  -->

@if (number2 > number1) {

  <div>
    Por favor llene sus datos
  </div>

}

@if ( firstName() == "Raul Adolfo"){

  <p> El nombre <span> {{firstName()}} </span> es el correcto </p>
}

<h3>Formulario para actualizacion de if y else</h3>

  <label for="equipo">Equipo</label>
  <input id="equipo" type="text" [value]="englandTeam().name" (change)="actualizarEquipo($event)">
  <label for="pais">País</label>
  <input id="pais" type="text" [value]="englandTeam().country" (change)="actualizarEquipo($event)">
  <label for="copas">N° Champions League</label>
  <input id="copas" type="number" [value]="englandTeam().championsLeague" (change)="actualizarEquipo($event)">


@if (englandTeam().country == "Inglaterra" && englandTeam().championsLeague>0){

  <p>El <span>{{englandTeam().name}}</span> es Inglés y ha ganado almenos 1 vez la Champios League</p>

} @else {

  <p>El {{englandTeam().name}} no es Inglés o no ha ganado la Champios League</p>
}


