

.btn-main{
  background-color: rgb(36, 21, 255);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}

.mini-container{
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;

}

.mini-container input{
  border-radius: 10px;
  border: 0;
  outline: 1px solid blue;
  padding: 6px 20px;
}

span{
    color: rgb(36, 21, 255);
    font-weight: 600;

}
